.menu.close {
  display: block;
  text-indent: -9999px;
  position: relative;
}

.menu.close::before {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  top: 7px;
  background: var(--color-zero);
  border-radius: 2px;
  transform: rotate(45deg)
}

.menu.close::after {
  content: '';
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  top: 7px;
  background:var(--color-zero);
  border-radius: 2px;
  transform: rotate(-45deg);
}

