.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 35px 19px 35px;
}

.wrap-right {
  display: flex;
}

.wrap-right > .icon {
  width: 25px;
  margin-left: 10px;
}
