@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.action {
  font-weight: 700;
  font-size: 14px;
  color: #707070;
  text-decoration: none;
  text-transform: uppercase;
}