.app {
  text-align: center;
}

.app > .header {
  margin: 0 auto 85px;
  width: 85vw;
}

.app > .card {
  display: inline-block;
  box-sizing: border-box;
  width: 90vw;
  height: 90vw;
}

.app > .wrap-display {
  margin: 50px auto 0;
}